* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}
html{
    scroll-behavior: smooth;
}
section {
    scroll-margin-top: 90px;
}

body {
    background-color: #F7F7FF;
}

.title {
    font-family: "Fira Sans", sans-serif;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #000;
}

.nav-bar {
    /* fundo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-list li:hover {
    transform: scale(1.1);
}

.nav-list.active a {
    border-bottom: 3px solid;
}

.btn {
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 3px #6c6c6c;
    background: transparent;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: black;
    transition: left 0.3s ease;
    z-index: -1;
}

.btn:hover::before {
    left: 0;
}

.btn:hover {
    color: white;
}

/* mobile */

.mobile {
    margin-top: 20px;
}

.mobile-nav-list a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


/* mobile sumindo */

.icon {
    display: none;
}

.mobile {
    display: none;
}

.mobile-nav-list {
    display: none;
}

@media screen and (max-width: 768px) {

    .nav-list,
    .btn {
        display: none;

    }

    .icon {
        display: block;
        cursor: pointer;
    }

    .mobile {
        display: block;
    }

    .mobile-nav-list.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        list-style: none;
        margin-top: 20px;

    }

    .btn-order {
        padding: 10px 20px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 1px 1px 10px #9797b9;
        background-color: #000;
        color: #fff;
    }

    /* principal */

    .titleMenu {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        font-weight: bold;
    }

    .container-do-Timeless {
        text-align: center;
        z-index: 10;
    }

    .cont-banner {
        display: none;
    }
}